body {

	font-family: Verdana, Geneva, sans-serif;

	/*background: url("../images/beach-dawn-dusk-ocean.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	
	background-color: lavender;

}

#header {

	margin: auto;
	padding: 0px;
	border: 1px solid black;
	background-color: #48D1CC;
	text-align: center;

}

#header h1 {

	margin: 0px;
	padding: 0px;

}

#container {

	width: 80%;
	margin: auto;
	padding: 0px;
	border: 1px solid black;
	background-color: #48D1CC;

}

.table-width {
	width: 300px;
}

.tile-img {

	float: left;
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;

}
